body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg");
    background-position: center right;
}

.navbar {
    align-items: center;
}

.search-bar {
    width: 50vw;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    width: 50vw;
}